# 참여자 리스트 전처리와 청인, 농인 분류

In [1]:
import pandas as pd
import glob
import os

In [2]:
users = pd.read_csv('users.csv')
users

,user_id,name,sex,age,disabled_degree,disabled_type,communication_type,communication_input,display_type
0,1,ㅇ,female,ㅇ,ㅇ,B,"['B', 'C']",NaN,nongin
1,2,ㅇ,female,ㅇ,ㅇ,B,['B'],NaN,cheongin
2,3,양예진,female,20,0,D,['C'],NaN,cheongin
3,4,김주원,female,20세(만19세),0,D,"['A', 'B', 'C']",NaN,cheongin
4,5,최유진,female,29,0,D,['C'],NaN,cheongin
...,...,...,...,...,...,...,...,...,...
78,79,김하늘,female,26,0,D,[],NaN,cheongin
79,80,신동훈,male,21,0,D,[],NaN,cheongin
80,81,송채훈,male,22,0,D,['C'],NaN,cheongin
81,82,오세정,female,32,0,D,['C'],NaN,cheongin
82,83,이다예,female,25,0,D,['C'],NaN,cheongin

## 청인

In [3]:
users_hearing = users[users['display_type']=='cheongin']
users_hearing = users_hearing[users_hearing['name'] != 'ㅇ']
users_hearing = users_hearing[users_hearing['name'] != 'ㄹ']
users_hearing = users_hearing[users_hearing['name'] != 's']
users_hearing = users_hearing[users_hearing['name'] != '최유진']
users_hearing

,user_id,name,sex,age,disabled_degree,disabled_type,communication_type,communication_input,display_type
2,3,양예진,female,20,0,D,['C'],NaN,cheongin
3,4,김주원,female,20세(만19세),0,D,"['A', 'B', 'C']",NaN,cheongin
5,6,엄단비,female,24,0,D,"['C', 'B']",NaN,cheongin
6,7,김호정,female,23세,0,D,['C'],NaN,cheongin
7,8,이다예,female,25,0,D,['C'],NaN,cheongin
8,9,박혜민,female,24,0,D,"['C', 'B']",NaN,cheongin
9,10,김윤태,male,20,0,D,['C'],NaN,cheongin
10,11,전지민,male,20,0,D,"['B', 'C']",NaN,cheongin
11,12,정은해,female,26,0,D,['B'],NaN,cheongin
12,13,정송민,male,25,0,D,['C'],NaN,cheongin
14,15,김여진,female,24,0,D,['C'],NaN,cheongin
18,19,이지민,male,21,0,D,[],NaN,cheongin
19,20,최아은,female,29세,0,D,[],NaN,cheongin
20,21,이예진,female,24,0,D,['C'],NaN,cheongin
21,22,이예진,female,24,0,D,['C'],NaN,cheongin
23,24,박민식,male,21,0,D,['C'],NaN,cheongin
24,25,손수지,female,33,0,D,['C'],NaN,cheongin
26,27,전영대,male,28,0,D,"['C', 'B']",NaN,cheongin
27,28,송채훈,male,22,0,D,['C'],NaN,cheongin
28,29,오세정,female,32,0,D,['C'],NaN,cheongin
33,34,김하늘,female,26,0,D,[],NaN,cheongin
34,35,김소연,female,28,0,D,['C'],NaN,cheongin
35,36,정채빈,female,21,0,D,['C'],NaN,cheongin
36,37,엄단비,female,24,0,D,"['B', 'C']",NaN,cheongin
37,38,이다예,female,25,0,D,['C'],NaN,cheongin
38,39,권한솔,female,24,0,D,['C'],NaN,cheongin
39,40,김윤태,male,20,0,D,['C'],NaN,cheongin
40,41,김호정,female,23세,0,D,['C'],NaN,cheongin
41,42,김선유,female,25,0,D,"['B', 'C']",NaN,cheongin
47,48,김기완,male,20,0,C,['C'],NaN,cheongin
51,52,오세영,female,37,0,D,['C'],NaN,cheongin
56,57,이지민,male,21,0,D,[],NaN,cheongin
57,58,정송민,male,25,0,D,['C'],NaN,cheongin
58,59,엄단비,female,24,0,D,"['C', 'B']",NaN,cheongin
59,60,전영대,male,28,0,D,"['C', 'B']",NaN,cheongin
62,63,정은해,female,26,0,D,"['C', 'B']",NaN,cheongin
63,64,이지민,male,21,0,D,[],NaN,cheongin
64,65,정송민,male,25,0,D,['C'],NaN,cheongin
65,66,김주원,female,20세(만19세),0,D,"['B', 'C']",NaN,cheongin
66,67,오세영,female,37,0,D,['C'],NaN,cheongin
67,68,배설영,female,20,0,D,['C'],NaN,cheongin
68,69,신동훈,male,21,0,D,[],NaN,cheongin
69,70,송채훈,male,22,0,D,['C'],NaN,cheongin
70,71,최아은,female,29세,0,D,[],NaN,cheongin
71,72,박혜민,female,24,0,D,"['B', 'C']",NaN,cheongin
72,73,박혜민,female,24,0,D,"['B', 'C']",NaN,cheongin
73,74,박민식,male,21,0,D,['C'],NaN,cheongin
74,75,이예진,female,24,0,D,['C'],NaN,cheongin
75,76,송채훈,male,22,0,D,['C'],NaN,cheongin
76,77,전지민,male,20,0,D,"['B', 'C']",NaN,cheongin
77,78,전지민,male,20,0,D,"['C', 'B']",NaN,cheongin
78,79,김하늘,female,26,0,D,[],NaN,cheongin
79,80,신동훈,male,21,0,D,[],NaN,cheongin
80,81,송채훈,male,22,0,D,['C'],NaN,cheongin
81,82,오세정,female,32,0,D,['C'],NaN,cheongin
82,83,이다예,female,25,0,D,['C'],NaN,cheongin

In [4]:
# 청인 고유 아이디 리스트
users_hearing_id = users_hearing['user_id'].tolist()
print(users_hearing_id)

[3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 19, 20, 21, 22, 24, 25, 27, 28, 29, 34, 35, 36, 37, 38, 39, 40, 41, 42, 48, 52, 57, 58, 59, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83]

In [5]:
# 다른 고유 아이디여도 두번 접속한 사람은 같은 사람이기 때문에
# 이름이 중복해서 등장하는 사람이 누구이며, 몇번 재접속하는지 인지하는 함수를 만들어줌

def find_duplicate_names(users):
    name_lst = []
    duplicate_count = {}
    
    for i in range(len(users)):
        name_lst.append(users.iloc[i])
        
    for j in name_lst:
        try: 
            duplicate_count[j] += 1
        except:
            duplicate_count[j] = 1
            
    return duplicate_count

In [6]:
def find_name_lst(users):
    name_lst = []
    
    for i in range(len(users)):
        name_lst.append(users['name'].iloc[i])

    name_lst = set(name_lst) # 여기를 고치자!~
    name_lst = list(name_lst)
    
    return name_lst

In [7]:
def name_with_ids(users):
    id_lst = []
    name_dict = {}
    name_lst = find_name_lst(users)
    
    for name in name_lst:
        ids_lst = users['user_id'][users['name'] == name]
        ids_lst = list(ids_lst)
        name_dict[name] = ids_lst
    
    return name_dict

In [8]:
# 청인 참여자 재접속 횟수
find_duplicate_hearings = find_duplicate_names(users_hearing['name'])
print(find_duplicate_hearings)

{'양예진': 1, '김주원': 2, '엄단비': 3, '김호정': 2, '이다예': 3, '박혜민': 3, '김윤태': 2, '전지민': 3, '정은해': 2, '정송민': 3, '김여진': 1, '이지민': 3, '최아은': 2, '이예진': 3, '박민식': 2, '손수지': 1, '전영대': 2, '송채훈': 4, '오세정': 2, '김하늘': 2, '김소연': 1, '정채빈': 1, '권한솔': 1, '김선유': 1, '김기완': 1, '오세영': 2, '배설영': 1, '신동훈': 2}

In [9]:
# 청인 참여자 이름과 그 사람의 고유 아이디 알기
find_hearings_name_with_ids = name_with_ids(users_hearing)
find_hearings_name_with_ids

{'김호정': [7, 41],
 '배설영': [68],
 '오세영': [52, 67],
 '김기완': [48],
 '송채훈': [28, 70, 76, 81],
 '오세정': [29, 82],
 '정은해': [12, 63],
 '박민식': [24, 74],
 '정채빈': [36],
 '신동훈': [69, 80],
 '이지민': [19, 57, 64],
 '권한솔': [39],
 '김소연': [35],
 '김윤태': [10, 40],
 '최아은': [20, 71],
 '박혜민': [9, 72, 73],
 '양예진': [3],
 '김선유': [42],
 '이다예': [8, 38, 83],
 '김여진': [15],
 '전영대': [27, 60],
 '김주원': [4, 66],
 '김하늘': [34, 79],
 '엄단비': [6, 37, 59],
 '손수지': [25],
 '이예진': [21, 22, 75],
 '정송민': [13, 58, 65],
 '전지민': [11, 77, 78]}

## 농인

In [10]:
users_deaf = users[users['display_type']=='nongin']
users_deaf = users_deaf[users_deaf['name'] != 'ㅇ']
users_deaf = users_deaf[users_deaf['name'] != 'ㄷ']
users_deaf = users_deaf[users_deaf['name'] != 's']
users_deaf = users_deaf[users_deaf['name'] != 'ㅆ']
users_deaf

,user_id,name,sex,age,disabled_degree,disabled_type,communication_type,communication_input,display_type
42,43,정진성,male,37,중증,A,"['A', 'B', 'C']",NaN,nongin
43,44,김봉관,male,51,100,A,"['A', 'C', 'B']",NaN,nongin
44,45,유승민,male,28,90dB,A,"['A', 'B', 'C']",NaN,nongin
45,46,김선우,male,25,95,C,"['A', 'B', 'C']",NaN,nongin
46,47,정진성,male,37,중증,A,"['A', 'B', 'C']",NaN,nongin
48,49,한승진,male,24세,90db,B,"['A', 'C', 'B']",NaN,nongin
49,50,윤상철,male,24,중증,A,"['A', 'B', 'C']",NaN,nongin
50,51,차진선,female,28,105db(정확히 기억안남),C,"['C', 'A']",NaN,nongin
53,54,주혜경,female,35,오른쪽 110 / 왼쪽 95,B,"['A', 'B', 'C']",NaN,nongin
55,56,백형규,male,36,100dB,A,"['A', 'C', 'B']",NaN,nongin
60,61,윤상철,male,24,중증,A,"['A', 'B', 'C']",NaN,nongin
61,62,성지훈,male,27,90-100dB,B,"['A', 'C', 'B']",NaN,nongin

In [11]:
# 농인 고유 아이디 리스트
users_deaf_id = users_deaf['user_id'].tolist()
print(users_deaf_id)
len(users_deaf_id)

[43, 44, 45, 46, 47, 49, 50, 51, 54, 56, 61, 62]

12

In [12]:
# 농인 참여자 재접속 횟수
find_duplicate_deaf = find_duplicate_names(users_deaf['name'])
print(find_duplicate_deaf)

{'정진성': 2, '김봉관': 1, '유승민': 1, '김선우': 1, '한승진': 1, '윤상철': 2, '차진선': 1, '주혜경': 1, '백형규': 1, '성지훈': 1}

In [13]:
# 농인 참여자 이름과 그 사람의 고유 아이디 알기
find_deaf_name_with_ids = name_with_ids(users_deaf)
find_deaf_name_with_ids

{'백형규': [56],
 '김봉관': [44],
 '차진선': [51],
 '윤상철': [50, 61],
 '주혜경': [54],
 '성지훈': [62],
 '김선우': [46],
 '정진성': [43, 47],
 '한승진': [49],
 '유승민': [45]}

### 데이터프레임 합쳐서 참여자명.csv 로 real_results 에 저장하기

In [14]:
def find_name_and_concat_df(name, name_ids_dict):
    for key, value in name_ids_dict.items():
        if key == name:
            if len(value) == 1: # 1번 접속
                try:
                    df1 = pd.read_csv('./results/%s/answers1.csv'%value[0])
                    
                except:
                    df1 = pd.read_csv('./results/%s/answers2.csv'%value[0])
                    
                return df1
            
            elif len(value) == 2: # 2번 접속
                try:
                    df1 = pd.read_csv('./results/%s/answers1.csv'%value[0])
                    df2 = pd.read_csv('./results/%s/answers1.csv'%value[1])
                    
                except:
                    df1 = pd.read_csv('./results/%s/answers2.csv'%value[0])
                    df2 = pd.read_csv('./results/%s/answers2.csv'%value[1])
                    
                concat_df = pd.concat([df1, df2], ignore_index=True)
                return concat_df
            
            
            # 여기 함수 고치기
            elif len(value) == 3: # 3번 접속
                try:
                    df1 = pd.read_csv('./results/%s/answers1.csv'%value[0])
                    df2 = pd.read_csv('./results/%s/answers1.csv'%value[1])
                    df3 = pd.read_csv('./results/%s/answers1.csv'%value[2])
                    
                except:
                    df1 = pd.read_csv('./results/%s/answers2.csv'%value[0])
                    df2 = pd.read_csv('./results/%s/answers2.csv'%value[1])
                    df3 = pd.read_csv('./results/%s/answers2.csv'%value[2])
                
                concat_df = pd.concat([df1, df2, df3], ignore_index=True)
                
                return concat_df
            
            elif len(value) == 4: # 4번 접속
                try:
                    df1 = pd.read_csv('./results/%s/answers1.csv'%value[0])
                    df2 = pd.read_csv('./results/%s/answers1.csv'%value[1])
                    df3 = pd.read_csv('./results/%s/answers1.csv'%value[2])
                    df4 = pd.read_csv('./results/%s/answers1.csv'%value[3])
                    
                except:
                    df1 = pd.read_csv('./results/%s/answers2.csv'%value[0])
                    df2 = pd.read_csv('./results/%s/answers2.csv'%value[1])
                    df3 = pd.read_csv('./results/%s/answers2.csv'%value[2])
                    df4 = pd.read_csv('./results/%s/answers2.csv'%value[3])
                    
                concat_df = pd.concat([df1, df2, df3, df4], ignore_index=True)
                
                return concat_df

In [15]:
def concat_every_names(users, find_name_with_ids):
    name_lst = find_name_lst(users)
    for p_name in name_lst:
        concated_df = find_name_and_concat_df(p_name, find_name_with_ids) # 참여자 이름/ 참여자 고유 ID 딕셔너리
    
    # 해당 데이터프레임을 .csv 로 real_results 폴더에 저장.
    # 파일 이름은 참여자 이름으로 하기
        concated_df.to_csv('./real_results/real_hear/real_hear_%s.csv'%p_name)
    
    return

In [16]:
# 청인- 참여자 이름별로 합치기
concat_every_names(users_hearing, find_hearings_name_with_ids)

In [17]:
# # 농인- 참여자 이름별로 합치기
# concat_every_names(users_deaf, find_deaf_name_with_ids)

In [18]:
# 참여자별 csv 를 한글로 바꾸기
def change_csv_into_korean(users):
    name_lst = find_name_lst(users)
    for p_name in name_lst:
        
        df = pd.read_csv('./real_results/real_hear/real_hear_%s.csv'%p_name)
        
        for i in range(len(df)):
            try:
                df['modality'][i] = df['modality'][i].encode('utf-8').decode('unicode_escape')
                df['answer'][i] = df['answer'][i].encode('utf-8').decode('unicode_escape')
            except:
                pass
    
        df.to_csv('./real_results/real_hear/real_hear_%s.csv'%p_name)
        
    return

In [19]:
change_csv_into_korean(users_hearing)

/Users/lifeofpy/opt/anaconda3/envs/Crawling/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/lifeofpy/opt/anaconda3/envs/Crawling/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [20]:
# change_csv_into_korean(users_deaf)

In [23]:
# 모든 csv 파일을 하나에 합치기
def concat_everything():
    all_file_list = glob.glob(os.path.join('./real_results/real_hear', 'real_hear_*'))
    all_data = []
    for file in all_file_list:
        df = pd.read_csv(file)
        all_data.append(df)
        
    data_combine = pd.concat(all_data, axis=0, ignore_index=True)
    data_combine.to_csv('./real_results/concat_everything_hear.csv', index=False)
    return

In [24]:
concat_everything()